Repository depromeet/Swimie-server, pull requests merged in 2024-11, with the labels that each got.

#456 test: Reaction 도메인 테스트 코드 작성
  module-domain/src/test/java/com/depromeet/mock/reaction/FakeReactionRepository.java
  module-domain/src/test/java/com/depromeet/service/reaction/ReactionServiceTest.java
  module-domain/src/testFixtures/java/com/depromeet/fixture/domain/memory/MemoryFixture.java
  module-presentation/src/test/java/com/depromeet/reaction/api/ReactionControllerTest.java
Labels: feature, test

#458 test: Greeting 도메인 테스트 코드 작성
  module-domain/src/test/java/com/depromeet/mock/greeting/FakeAIManager.java
  module-domain/src/test/java/com/depromeet/mock/greeting/FakeGreetingCacheManager.java
  module-domain/src/test/java/com/depromeet/service/greeting/GreetingServiceTest.java
  module-independent/src/main/java/com/depromeet/type/greeting/GreetingSuccessType.java
  module-infrastructure/module-cache/src/main/java/com/depromeet/service/GreetingCacheManager.java
  module-presentation/src/test/java/com/depromeet/greeting/api/GreetingControllerTest.java
Labels: chore, feature, test

#460 test: 팔로우 소식 도메인 테스트 코드 작성
  module-domain/src/test/java/com/depromeet/mock/followinglog/FakeFollowingMemoryLogRepository.java
  module-domain/src/test/java/com/depromeet/service/followinglog/FollowingMemoryLogServiceTest.java
  module-domain/src/test/java/com/depromeet/service/friend/FollowServiceTest.java
  module-domain/src/test/java/com/depromeet/service/image/ImageServiceTest.java
  module-domain/src/test/java/com/depromeet/service/memory/TimelineServiceTest.java
  module-domain/src/test/java/com/depromeet/service/notification/FollowLogServiceTest.java
  module-domain/src/test/java/com/depromeet/service/notification/ReactionLogServiceTest.java
  module-domain/src/test/java/com/depromeet/service/reaction/ReactionServiceTest.java
  module-domain/src/testFixtures/java/com/depromeet/fixture/domain/friend/FriendFixture.java
  module-domain/src/testFixtures/java/com/depromeet/fixture/domain/member/MemberFixture.java
  module-domain/src/testFixtures/java/com/depromeet/fixture/domain/memory/MemoryFixture.java
  module-infrastructure/persistence-database/src/test/java/com/depromeet/followinglog/repository/FollowingMemoryLogRepositoryTest.java
  module-infrastructure/persistence-database/src/test/java/com/depromeet/friend/repository/FriendRepositoryTest.java
  module-infrastructure/persistence-database/src/test/java/com/depromeet/image/repository/ImageRepositoryTest.java
  module-infrastructure/persistence-database/src/test/java/com/depromeet/memory/repository/MemoryRepositoryTest.java
  module-presentation/src/test/java/com/depromeet/followinglog/api/FollowingLogControllerTest.java
  module-presentation/src/test/java/com/depromeet/followinglog/fixture/response/FollowingLogSliceResponseFixture.java
Labels: test

#464 deploy: 서버 배포
  module-domain/src/main/java/com/depromeet/notification/domain/FollowLog.java
  module-domain/src/main/java/com/depromeet/notification/domain/ReactionLog.java
  module-domain/src/test/java/com/depromeet/mock/followinglog/FakeFollowingMemoryLogRepository.java
  module-domain/src/test/java/com/depromeet/mock/greeting/FakeAIManager.java
  module-domain/src/test/java/com/depromeet/mock/greeting/FakeGreetingCacheManager.java
  module-domain/src/test/java/com/depromeet/mock/notification/FakeFollowLogRepository.java
  module-domain/src/test/java/com/depromeet/mock/notification/FakeReactionLogRepository.java
  module-domain/src/test/java/com/depromeet/mock/reaction/FakeReactionRepository.java
  module-domain/src/test/java/com/depromeet/service/followinglog/FollowingMemoryLogServiceTest.java
  module-domain/src/test/java/com/depromeet/service/friend/FollowServiceTest.java
  module-domain/src/test/java/com/depromeet/service/greeting/GreetingServiceTest.java
  module-domain/src/test/java/com/depromeet/service/image/ImageServiceTest.java
  module-domain/src/test/java/com/depromeet/service/memory/TimelineServiceTest.java
  module-domain/src/test/java/com/depromeet/service/notification/FollowLogServiceTest.java
  module-domain/src/test/java/com/depromeet/service/notification/ReactionLogServiceTest.java
  module-domain/src/test/java/com/depromeet/service/reaction/ReactionServiceTest.java
  module-domain/src/testFixtures/java/com/depromeet/fixture/domain/friend/FriendFixture.java
  module-domain/src/testFixtures/java/com/depromeet/fixture/domain/member/MemberFixture.java
  module-domain/src/testFixtures/java/com/depromeet/fixture/domain/memory/MemoryFixture.java
  module-domain/src/testFixtures/java/com/depromeet/fixture/domain/reaction/ReactionFixture.java
  module-independent/src/main/java/com/depromeet/type/greeting/GreetingSuccessType.java
  module-infrastructure/module-cache/src/main/java/com/depromeet/service/GreetingCacheManager.java
  module-infrastructure/persistence-database/src/test/java/com/depromeet/followinglog/repository/FollowingMemoryLogRepositoryTest.java
  module-infrastructure/persistence-database/src/test/java/com/depromeet/friend/repository/FriendRepositoryTest.java
  module-infrastructure/persistence-database/src/test/java/com/depromeet/image/repository/ImageRepositoryTest.java
  module-infrastructure/persistence-database/src/test/java/com/depromeet/memory/repository/MemoryRepositoryTest.java
  module-infrastructure/security/src/main/java/com/depromeet/util/KakaoClient.java
  module-presentation/src/test/java/com/depromeet/followinglog/api/FollowingLogControllerTest.java
  module-presentation/src/test/java/com/depromeet/followinglog/fixture/response/FollowingLogSliceResponseFixture.java
  module-presentation/src/test/java/com/depromeet/greeting/api/GreetingControllerTest.java
  module-presentation/src/test/java/com/depromeet/notification/api/NotificationControllerTest.java
  module-presentation/src/test/java/com/depromeet/reaction/api/ReactionControllerTest.java
Labels: deploy
